.home {
    width: 100%;
}

.home__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 60vh;
}
.home__heading h1 {
    font-size: 4.25rem;
    text-align: center;
}
