.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.cart h1 {
    margin-top: 3rem;
}

.cart h2 {
    margin-bottom: 1.5rem;
}

.cart__p--empty {
    margin-bottom: 2rem;
}

.cart__flex {
    display: flex;
    background-color: var(--fg-color--dark);
    min-width: var(--narrow-width);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: var(--wide-width);
    margin: 1rem;
    gap: 8rem
}

.cart__flex-col {
    flex: 1;
}

.cart__list li {
    display: grid;
    grid-template-columns: 200px 1fr auto;
    /* justify-content: space-between; */
    margin-bottom: .8rem;
    transition: color .3s;
}
.cart__list li:hover {
    color: white;
}

.cart__list svg {
    height: 1.5rem;
    width: 1.5rem;
    opacity: .8;
}
.cart__list button:hover svg {
    opacity: 1;
}
.cart_item-title {
    margin-right: 1.5rem;
}

.cart__item-qty {
    display: flex;
    gap: .5rem;
}

.cart__total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-color);
    margin-top: 1rem;
    padding-top: 1rem;
    color: white
}

.cart__confirm {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.cart__confirm .button {
    margin-top: 2rem;
}

@media screen and (max-width: 59.625rem) {

    .cart__flex {
        flex-direction: column;
        min-width: auto;
        gap: 3rem;
    }
    .cart__confirm {
        gap: 1rem;
    }

}

@media screen and (max-width: 48rem) {
    .shop__product {
        max-width: 24rem;
        margin: 0 1rem;
    }

    .shop__product-info {
        padding: 2rem 1.5rem;
    }
}