@import './fonts.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #211b29;
    --fg-color--light: #3E3546;
    --fg-color--dark: #39333E;

    --font-color: #b2b2b2;

    --max-width: 1440px;
    --wide-width: 1280px;
    --narrow-width: 954px;

    --font-title: 'Comfortaa', sans-serif;
    --font-main: 'Open Sans', sans-serif;

    --breakpoint: 48rem;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-main);
}

#root {
    background: linear-gradient(45deg, #211b29 40%, #241d33 60%, #211b29);
    max-width: var(--wide-width);
    margin: auto;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-title);
    font-weight: 600;
    color: white;
}

h1 {
    font-size: 2rem;
}

p {
    line-height: 140%;
}

a {
    color: var(--font-color);
    transition: color .3s, text-decoration .3s;
}

a:hover {
    text-decoration: underline;
    color: white;
}

img {
    width: 100%;
}

input {
    outline: none;
    font-family: var(--font-main);
    padding: .5rem 1rem;
    display: block;
    margin-bottom: 1rem;
}

label {
    font-size: 0.875rem;
    display: block;
    padding-bottom: .5rem;
}

button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button {
    padding: .6rem 2rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    font-family: var(--font-title);
    font-weight: 600;
    color: white;
    transition: background-color .3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-decoration: none;
}

/* Routes */
.cart,
.home,
.about,
.contact,
.shop {
    padding-top: 5rem;
}

@media screen and (max-width: 48rem) {

    /* To make room for mobile nav */
    .cart,
    .home,
    .about,
    .contact,
    .shop {
        padding-top: 8rem;
    }

}